body,div,h1,h2,h3,h4,h5,p,ul,li {
  margin: 0px;
  padding:0px;
}

li {
  list-style: none;
}
textarea{
  height: 40px;
  width: 140px;
}
.raspPost {
  background-color: lightblue;
  margin-bottom: 5px;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column
  }
  header {
    outline: 1px solid gray;
    background-color: lightcyan;
    height: 100px;
  }
  .flex-div{
    display: flex;
    flex: 1;
  }
  main {
    outline: 1px solid gray;
    flex: 1;
    
  }
  nav {
    outline: 1px solid gray;
    width: 250px;
  }
  aside {
    outline: 1px solid gray;
    width: 200px;
  }
  footer {
    outline: 1px solid gray;
    background-color: lightcyan;
    height: 100px;
  }

  table {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 5px;
    border: 1px solid #333;
  }
  th {
    background-color: #2c88d9;
    color: #FFF;
  }

  #sensResult {
    overflow: aute;
    height: 300px;
  }
